node_modules/
dist/
.astro/
.vercel/
*.log
*.tmp
*.exe
*.winmd
*.eps
ChatGPT Image *
Wireframe - 9.png
ultra no bg.png
ultrawide.png
export_mid_hero.png
figma_hero_export.png
figma_about_export.png
webp_hero.webp
DSC*.webp
_DSC*.webp
College Block.otf
figma_*_webp.webp
logo.svg
1813a43a-74c7-44c0-8e2a-d5df5ba67be0.jpg
67829f89-f5b2-4633-a15e-988933117e00.jpg
